/__pycache__
/captures_01
/captures_02
/old
/saved_videos_01
/saved_videos_02
/venv
/processed_files.txt
백업/250326/main.py
백업/250326/server_api.py
백업/250326/utils.py
백업/250326/YOLOv8_Counting.py
/called_files.txt